@model WebApplication2.Models.Communication

@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>

<div>
    <h4 style="color: #2e6c80;">Outout directory: <span style="color: #2b2301;">@ViewBag.outputDir</span></h4>
</div>

<div>
    <h4 style="color: #2e6c80;">Source name: <span style="color: #2b2301;">@ViewBag.sourceName</span></h4>
</div>

<div>
    <h4 style="color: #2e6c80;">Log name: <span style="color: #2b2301;">@ViewBag.logName</span></h4>
</div>

<div>
    <h4 style="color: #2e6c80;">Thumbnail size: <span style="color: #2b2301;">@ViewBag.size</span></h4>
</div>

<div>
    <h4 style="color: #2e6c80;">Handlers: </h4>
</div>

<table class="table">
    @foreach (var item in Model.ServiceConfig.Handlers)
    {
        <tr>
            <td>
                <input type="button" id="btnFilter" value=@Html.DisplayFor(modelItem => item) />
            </td>
        </tr>
    }
</table>


<div>
    @Html.ActionLink("Back to home page", "Index")
</div>
