@model IEnumerable<WebApplication2.Models.Config>

@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OutputDirectory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbSize)
        </th>
    </tr>
    <tr>
        <td>@ViewBag.outputDir</td>
        <td>@ViewBag.sourceName</td>
        <td>@ViewBag.logName</td>
        <td>@ViewBag.size</td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
