@model WebApplication2.Models.Communication

@{
    ViewBag.Title = "Config";
}

<center><h1 style="color: #2e6c80;font-family:Gabriola;"><b>Config</b></h1></center>
<br />

<table width="100%">
    <tr>
        <td>
            <p style="color: #2e6c80;font-family:Gabriola;font-size:200%;">
                <b>Outout directory: </b>
            </p>
        </td>
        <td>
            <p style="font-family:Gabriola;font-size:200%;"><b>@ViewBag.outputDir</b></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: #2e6c80;font-family:Gabriola;font-size:200%;">
                <b>Source name: </b>
            </p>
        </td>
        <td>
            <p style="font-family:Gabriola;font-size:200%;"><b>@ViewBag.sourceName</b></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: #2e6c80;font-family:Gabriola;font-size:200%;">
                <b>Log name: </b>
            </p>
        </td>
        <td>
            <p style="font-family:Gabriola;font-size:200%;"><b>@ViewBag.logName</b></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: #2e6c80;font-family:Gabriola;font-size:200%;">
                <b>Thumbnail size: </b>
            </p>
        </td>
        <td>
            <p style="font-family:Gabriola;font-size:200%;"><b>@ViewBag.size</b></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: #2e6c80;font-family:Gabriola;font-size:200%;">
                <b>Handlers: </b>
            </p>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <table class="table">
                @foreach (var item in Model.ServiceConfig.Handlers)
                {
                    <tr>
                        <td>
                            <button type="button" id="handlerBtn" class="btn btn-default btn-block">
                                @Html.ActionLink(item, "DeleteHandler", new { handler = item })
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>

</table>

<br />
<div>
    @Html.ActionLink("Back to home page", "Index")
</div>