@{
    ViewBag.Title = "Image Service";
}

<div class="jumbotron">
    <h1>Image Service</h1>
    <p class="lead">advanced programimng ex 3.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Service Status: @ViewBag.status</h2>
    </div>
    <div class="col-md-4">
        <h2>Number Of Images In Output Folder: @ViewBag.numOfImages</h2>
    </div>
    <div class="col-md-4">
        <h2>Students Details:</h2>
        <table style="width:100%">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>T.Z.</th>
            </tr>
            <tr>
                <td>@ViewBag.student1[0]</td>
                <td>@ViewBag.student1[1]</td>
                <td>@ViewBag.student1[2]</td>
            </tr>
            <tr>
                <td>@ViewBag.student2[0]</td>
                <td>@ViewBag.student2[1]</td>
                <td>@ViewBag.student2[2]</td>
            </tr>
        </table>
    </div>
</div>