@{
    ViewBag.Title = "Image Service";
}

<div class="jumbotron">
    <center>
        <h1 style="font-family:Gabriola;">Image Service</h1>
        <p style="font-family:Gabriola;" class="lead">advanced programimng ex 3.</p>
    </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h1 style="font-family:Gabriola;"><b>Service Status: </b>@ViewBag.status</h1>
    </div>
    <div class="col-md-4">
        <h1 style="font-family:Gabriola;">
            <b>Number Of Images In Folder: </b><br />
            <center>
                @ViewBag.numOfImages
            </center>
        </h1>
    </div>
    <div class="col-md-4">
        <h1 style="font-family:Gabriola;"><b>Students Details:</b></h1>
        <table style="width:100%">
            <tr style="font-family:Gabriola;font-size:200%;">
                <th>Firstname</th>
                <th>Lastname</th>
                <th>T.Z.</th>
            </tr>
            <tr style="font-family:Gabriola;font-size:200%;">
                <td>@ViewBag.student1[0]</td>
                <td>@ViewBag.student1[1]</td>
                <td>@ViewBag.student1[2]</td>
            </tr>
            <tr style="font-family:Gabriola;font-size:200%;">
                <td>@ViewBag.student2[0]</td>
                <td>@ViewBag.student2[1]</td>
                <td>@ViewBag.student2[2]</td>
            </tr>
        </table>
    </div>
</div>