@model IEnumerable<WebApplication2.Models.Log>

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<div>
    <div>
        <h2>Filter  by  type</h2>
        <input type="text" id="typeId" size="5" />
        <input type="button" id="btnFilter" value="Filter" />
        <ul id="lstProducts"></ul>
    </div>

    <h2>Logs</h2>
    <table>
        <tr>
            <td>Type:  </td>
            <td><p type="text" id="logType" size="5"></p></td>
        </tr>
        <tr>
            <td>Message:  </td>
            <td><p type="text" id="logMessage" size="5"></p></td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>

            </tr>
        }

    </table>
</div>

<script>
    $("#btnStart").click(function () {
        $.getJSON("@Url.Action("GetLog")", function (log) {
            $("#logType").text(log.type);
            $("#logMessage").text(log.messag);
        });
    });

    $("#btnFilter").click(function () {
        var input = {
            type:$("#TypeID").val(),
        };
        $.post("@Url.Action("GetLog")", input, function (data) {
            $("#lstProducts").append("<li>" + data.Type + " " + data.Message + "</li>");
        }, "json");
    });

</script>